*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
    border: 6px solid rgb(26, 226, 42);
    margin: 50px 50px;
    max-width: 750px;
}
.row > div {
    border: 2px dotted rgb(175, 146, 146);
}
.row{
    border: 3px solid pink;
}
#row-height{
    height: 220px;
    font-size: 30px;
}
#brown{
    background-color: rgb(39, 9, 9);
}
#bluish{
    background-color: rgb(19, 113, 126);
}
#pinkish{
    background-color: rgb(231, 176, 231);
}
#tomato{
    background-color: tomato;
}
#skyish{
    background-color: rgb(32, 190, 230);
}
#violet{
    background-color: violet;
}
#grrenish-yellow{
    background-color: rgb(148, 223, 37);
}